.inputWithIcon input[type=search]{
  padding-left: 40px;  
  
}

.inputWithIcon{
    position: fixed;
   top: 2em;
   right: 0em;
   bottom: 0em;
   left: 105em;


}

.inputWithIcon i{
    position: absolute;
    left: 185px ;
    top: -7px;
    padding: 9px 8px;


}

#kids-icon li {
  /* z-index: 50; */
  
  background-color:gray;
  position: absolute;
  top: -4em;
  right: 0px;
  bottom: 0px;
  left: 13em; 
  height: 1em;
  width: 2em;
  border-radius: 10px;
 
 
  
}




#title-image {
  background-position: center;
 
  background-color: black;
  
}

#main-nav {
  background-color: black;
  position: absolute;
  
}

.main-nav-table {
  display: table;
  margin: 0;
}

ul#soical-icons {
  text-decoration: none;
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  position: fixed;
}

ul#soical-icons li{
  display: inline;
  padding: .4em;
  margin-top: 5em;
  
 
 }



.sw-image {
  position: fixed;
  top: 10px;
  right: 0px;
  bottom: 0px;
  left: 50em;

}

#second-nav {
  background-color: black;
  position: fixed;
  display: flex;
 
  justify-content: center;
  color: lightgray;
  top: 10em;
  right: 0px;
  bottom: 0px;
  left: 0em;
  margin: 0px;
  height: 3em;
  text-decoration: none;
  list-style: none;
  border-top: 1px solid gray;
  top: em;
  right: -10;
  bottom: 0;
  left: -10px;

 
}

.table {
  display: table;
 margin: 0px;
  top: 20em;
  right: -10;
  bottom: 0;
  left: -10px;
 
  
  
}

ul#nav-list {
  min-width: 696px;
  list-style: none;
  padding-top: 0px;
 
 

}

ul#nav-list li {
  display: inline; 
padding-right: 2.5em;
padding-left: 2.5em;
border-left: 1px solid lightgray;
font-size: 1.1em;
} 


#second-nav li a {
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  margin: auto;
}



.second-nav-links li a {
  display: flex;
  
  text-align: center;
}

a {
  text-decoration: none;
  color: lightgray;
}

body {
  background-color: black;
 
 margin-top: 2em; 
}

#main-img {
  /* position: fixed; */
  /* top: 13em; */
   /* right: -10;  */
  /* bottom: 0; */
  /* left: -10px; */
  /* height: 100vh; */
  margin-top: 155px;
  position:relative;
  top: 2em;
  right: -10;
  bottom: 0;
  left: -10px;
  height: 51em;
  
  
  /* margin: 0em; */
} */

.main-img-div {
  
  margin: 0px;
  width: 100%;

}
.mainText{
  color: white;
  position: absolute;
  bottom: 50px;
  left: 16px;
}

#main-caption {
  z-index: 100;
  top: 12em;
  right: -10;
  bottom: 0;
  left: -10px;
}

#second-img  img{
  margin-left: 22em;
  height: 30%;
 
 

}

#readMoreBtn {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
}

  .miniImgs {
    border: 1px solid white;
    padding: 1em;
    width: 10em;
    height: 4em;
    display: inline-block;
    top: 0em;
    right: 0em;
    bottom: 0em;
    left: 0em;
    margin-left:10em;
   
  }

  #nestedImg {
    position: relative;
    bottom: 20em;
    left: 18em;
  }

  
  #nestedTitle {
  position: absolute;
  bottom: -3em;
  left: 27em;
  color: white;
  }

  #exploreBtn {
    position: relative;
    bottom: -7em;
    left: -30em;
    background-color: gold;
    border: none;
    border-radius: 5px;
    
    
  }
  
  #exploreBtn a {
    font-size: 1.7em;
    padding: 10px;
       color: black; 
  }






